<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2><b>Welcome to Mother Care &raquo;</b></h2>
    <h6>Raise your child knowing what to do. Focus to a bright future generation free from all sorts of diseases</h6>
    <hr/>
    
  </div>
  <div class="row">
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 well-small">
  		<h4 class="badge"><b>Feedings</b></h4>
  		<%= image_tag("feeding.jpg", :class =>"img-circle", :size => "200x100")%>
  	</div>
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 well-small">
  		<h4 class="badge"><b>Nurturing mother <%= link_to "Read more", home_pregnant_mother_path %></b></h4>
  		<%= image_tag("nurture.jpg", :class =>"img-circle", :size => "200x100")%>
  	</div>
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 well-small">
  		<h4 class="badge"><b>First aid <%= link_to "Read more", home_first_aid_path %></b></h4>
  		<%= image_tag("firstaid.jpeg", :class =>"img-circle", :size => "200x100")%>
  	</div>
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 well-small">
  		<h4 class="badge"><b>Write a comment</b></h4>
  		<%= render :partial=> 'home/form' %>
  	</div>
  	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  	</div>
   </div>

  <div class="row">
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  		<div class="thumbnail">
  			<h4 class="badge"><b>Pregnant mother <%= link_to "Read more", home_pregnant_mother_path %> </b></h4>
  			<%= image_tag("pregnant.jpg", :size => "100x60")%>
  		</div>
  	</div>
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  		<div class="thumbnail">
  			<h5 align="center">Dress code &raquo; <%= link_to " Read more", home_health_path%></h5>
  			<%= image_tag("child.png", :class =>"img-circle")%>

  		</div>
  	</div>
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  		<div class="thumbnail">
  			<h5 align="center">Dress code &raquo; <%= link_to " Read more", home_health_path%></h5>
  			<%= image_tag("brouse.png", :class =>"img-circle")%>

  		</div>
  	</div>
  	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
  		
  	</div>
  </div>

</div> <!-- /container -->