<!DOCTYPE html>
<html>
<head>
  <title>Mothercaring</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  	body{colr:black;}
  	p{font-size: 10px;}
  	a{color:pink;}
  </style>

</head>
<body>
<%= render :partial => "layouts/header"%>
<%= yield %>
<%= render :partial => "layouts/footer"%>

</body>
</html>
